body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    color: #2b2839;
    background-color: #ddebf8;
    border-bottom: 6px solid #d8cefe;
}

.profile-img {
    width: 150px;
}

.outline {
    border: 2px dotted blue;
}